<p style="color: green"><%= notice %></p>

<%= form_with url: "/search", method: :get do |form| %>
  <div>
    <%= form.label :departure_airport, style: "display: block" %>
    <%= form.select :departure_airport, @airports.map { |a| [a.code, a.id]} %>
  </div>

  <div>
    <%= form.label :arrival_airport, style: "display: block" %>
    <%= form.select :arrival_airport, @airports.map { |a| [a.code, a.id]} %>
  </div>

  <div>
    <%= form.label :tickets, style: "display: block" %>
    <%= form.number_field :tickets, in: 1.0..4.0, value: 1 %>
  </div>

  <div>
    <%= form.label :flight_date, style: "display: block" %>
    <%= form.select :flight_date, @flights.map { |a| [a.start_datetime, 
    Date.parse(a.start_datetime).strftime("%a %e %b %Y")]} %>
  </div>

  <div>
    <%= form.submit "Search" %>
  </div>
<% end %>

<div> 
<% unless @result.nil? %>
  <%= form_with  do |form| %>
    <% @result.each do |a| %>
          <%= form.label :departure_airport, style: "display: block" %>
            <td><%= @airports.find(a.departure_airport).code %></td>
            <%= form.label :arrival_airport, style: "display: block" %>
            <td><%= @airports.find(a.arrival_airport).code %></td>
            <%= form.label :start_datetime, style: "display: block" %>
            <td><%= a.start_datetime %></td>
            <%= form.label :flight_time, style: "display: block" %>
            <td><%= a.flight_time %></td>
          <br>
          <br>
    <% end %>
  <% end %>
  <% @result = nil %>
<% end%>
</div>
