<p style="color: green"><%= notice %></p>

<%= form_with url: "/search", method: :get do |form| %>
  <div>
    <%= form.label :departure_airport, style: "display: block" %>
    <%= form.select :departure_airport, @airports.map { |a| [a.code, a.id]} %>
  </div>

  <div>
    <%= form.label :arrival_airport, style: "display: block" %>
    <%= form.select :arrival_airport, @airports.map { |a| [a.code, a.id]} %>
  </div>

  <div>
    <%= form.label :tickets, style: "display: block" %>
    <%= form.number_field :tickets, in: 1.0..4.0, value: 1 %>
  </div>

  <div>
    <%= form.label :flight_date, style: "display: block" %>
    <%= form.select :flight_date, @flights.map { |a| [a.start_datetime, 
    Date.parse(a.start_datetime).strftime("%a %e %b %Y")]} %>
  </div>

  <div>
    <%= form.submit "Search" %>
  </div>
<% end %>

<div> 
<% unless @result.nil? %>
  <%= form_with url: "/bookings/new", method: :get  do |form| %>
    <% @result.each do |a| %>
      <%= form.label :departure_airport, style: "display: block" %>
      <%= form.text_field :departure_airport, style: "display: block", value: @airports.find(a.departure_airport).code, readonly: true %>
      <%= form.label :arrival_airport, style: "display: block" %>
      <%= form.text_field :arrival_airport, style: "display: block", value: @airports.find(a.arrival_airport).code, readonly: true %>
      <%= form.label :start_datetime, style: "display: block" %>
      <%= form.text_field :start_datetime, style: "display: block", value: a.start_datetime, readonly: true %>
      <%= form.label :flight_time, style: "display: block" %>
      <%= form.text_field :flight_time, style: "display: block", value: a.flight_time, readonly: true %>

      <%= radio_button("airport","flight","date") %>
      <%= form.number_field :tickets, style: "display: block", value: @tickets, type: :hidden %>
      <%= form.number_field :flight_id, style: "display: block", value: @airports.find(a.departure_airport).departing_flights.find(a.id).id, type: :hidden %>
            
      <br>
      <br>
    <% end %>
  <%= form.submit "Book" %>
  <% end %>
<% end%>
</div>
