<p style="color: green"><%= notice %></p>

<%= form_with url: "/search", method: :get do |form| %>
  <div>
    <%= form.label :departure_airport, style: "display: block" %>
    <%= form.select :departure_airport, @airports.map { |a| [a.code, a.id]} %>
  </div>

  <div>
    <%= form.label :arrival_airport, style: "display: block" %>
    <%= form.select :arrival_airport, @airports.map { |a| [a.code, a.id]} %>
  </div>

  <div>
    <%= form.label :tickets, style: "display: block" %>
    <%= form.number_field :tickets, in: 1.0..100.0, value: 1 %>
  </div>

  <div>
    <%= form.label :flight_date, style: "display: block" %>
    <%= form.select :flight_date, @flights.map { |a| [a.start_datetime, 
    a.start_datetime]} %>
  </div>

  <div>
    <%= form.submit "Search" %>
  </div>
<% end %>

<div> 
 <%= @result.inspect %>
</div>
