<p style="color: green"><%= notice %></p>

<%= form_with url: "/search", method: :get do |form| %>
  <div>
    <%= form.label :departure_airport, style: "display: block" %>
    <%= form.select :departure_airport, @airports.map { |a| [a.code, a.id]} %>
  </div>

  <div>
    <%= form.label :arrival_airport, style: "display: block" %>
    <%= form.select :arrival_airport, @airports.map { |a| [a.code, a.id]} %>
  </div>

  <div>
    <%= form.label :tickets, style: "display: block" %>
    <%= form.number_field :tickets, in: 1.0..4.0, value: 1 %>
  </div>

  <div>
    <%= form.label :flight_date, style: "display: block" %>
    <%= form.select :flight_date, @flights.map { |a| [a.start_datetime, 
    Date.parse(a.start_datetime).strftime("%a %e %b %Y")]} %>
  </div>

  <div>
    <%= form.submit "Search" %>
  </div>
<% end %>

<div> 
<% unless @result.nil? %>
  <%= form_with url: "/bookings/new", method: :get  do |form| %>
    <% @result.each_with_index do |a, index| %>
          <%= form.label :departure_airport, style: "display: block" %>
          <%= @airports.find(a.departure_airport).code %>
            <%= form.label :arrival_airport, style: "display: block" %>
            <%= @airports.find(a.arrival_airport).code %>
            <%= form.label :start_datetime, style: "display: block" %>
            <%= a.start_datetime %>
            <%= form.label :flight_time, style: "display: block" %>
            <%= a.flight_time %>
            <%= radio_button("airport","flight","date") %>
            <%= form.number_field :tickets, style: "display: block", value: @tickets, type: :hidden %>
            <%= form.number_field :index, style: "display: block", value: index, type: :hidden %>

          <br>
          <br>
    <% end %>
  <%= form.submit "Book" %>
  <% end %>
  <% @result = nil %>
<% end%>
</div>
