

  <div>  
    
    <%= params[:departure_airport] %>
    
    <%= params[:arrival_airport] %>
    
    <%= params[:start_datetime] %>
    
    <%= params[:flight_time] %>
   
    
    <br>
    <%= form_with model: @booking, url: bookings_path do |f| %>
      <%= f.hidden_field :flight_id, value: params[:flight_id] %>

      <%= f.fields_for :passengers do |form| %>
        <h4>Passenger <%= form.index + 1 %></h4>

        <%= form.label :name, "Full name:" %>
        <%= form.text_field :name %>

        <%= form.label :email, "Email:" %>
        <%= form.email_field :email %>
      <% end %>

      <%= f.submit "Confirm details"%>
    <% end %>
    <br>
  </div>

